[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
lint_flake8 = "flake8"
lint_black = "black --check --diff ."
format = "black . --exclude wheels"
manage = "python manage.py"
db_tables = "python docs/database_tables.py"
docs = "make --directory=docs clean html"
docs_rm = "rm -rf static/docs"
docs_static = "cp -R docs/_build/html static/docs"
backend = "gunicorn app.wsgi -k sync --workers=1"
worker = "python worker.py"

[dev-packages]
flake8 = "*"
flake8-print = "*"

[packages]
django = "*"
dj-database-url = "*"
django-tz-detect = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
pandas = "*"
pytz = "*"
sqlalchemy = "*"
mysqlclient = "*"
feedparser = "*"
apscheduler = "*"
django-bulk-sync = "*"
sentry-sdk = "*"
spotipy = "*"
google-api-python-client = "*"
docutils = "*"
django-extensions = "*"
tabulate = "*"
rfc3986 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
inflection = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
tenacity = "*"
loguru = "*"
solrq = "*"
cron-descriptor = "*"
pyadaptivecards = "*"
analytics-data = {file = "./wheels/analytics_data-0.7.0-py2.py3-none-any.whl"}
rq = "*"

[requires]
python_version = "3.8"
